.form__container {
   display: flex;
   flex-direction: column;
   gap: 0.2em;
   width: 100%;
}

.input__email {
   padding: 1em 1.5em;
   width: 100%;
   border-radius: 3em;
   border: 1px solid var(--pale-blue);
   z-index: 2;
}

.input__email:focus {
   border: none;
   outline: 1px solid var(--blue);
   box-shadow: 0 0 10px var(--blue);
   outline-offset: 1px;
}

/*
-- SUBMITTED RULE FOR INPUT
*/
.submitted {
  border: 1px solid var(--pale-blue);
}

.submitted::placeholder {
  color: var(--pale-blue);
  letter-spacing: 0.07em;
  font-weight: light;
}

.submitted:focus {
  outline: 1px solid var(--blue);
  box-shadow: 0 0 10px var(--blue);
  outline-offset: 1px;
}

/*
-- NOT SUBMITTED RULE FOR INPUT
*/
.not-submitted {
  border: 1px solid var(--light-red);
}

.not-submitted::placeholder {
  transition: 0.7s ease;
  color: var(--light-red);
  letter-spacing: 0.07em;
  font-weight: light;
}

.not-submitted:focus {
  border: none;
  outline: 1px solid var(--light-red);
  box-shadow: 0 0 10px var(--light-red);
  outline-offset: 1px;
}

/*
-- SUBMIT BUTTON STYLING
*/
.submit__button {
  padding: 1em 1.5em;
  border-radius: 3em;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  transition-duration: 0.3s;
  cursor: pointer;
}

.submit__button:hover {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

/*
-- NOT SUBMITTED BUTTON STYLING
*/

.btn__not-submitted {
  background-color: var(--light-red);
}
.btn__not-submitted:hover {
  background-color: var(--light-red);
  color: var(--white);
}

/*
-- ALERT STYLING
*/
.error__message {
   font-style: italic;
   color: var(--light-red);
   text-align: left;
}
.visually-hidden {
  margin-top: -0.3em;
  opacity: 0;
  height:5px;
}
   /* 
   -- ALERT IS SHOWED
   */
   .is-showed {
      z-index: 0;
      transition: 0.7s ease;
      font-style: italic;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      font-size: 0.9em;
      color: var(--light-red);
   }
   .is-showed {
      -webkit-animation: is-showed 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: is-showed 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   }
   @-webkit-keyframes is-showed {
   0% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
   }
   @keyframes is-showed {
   0% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
   }
   /* 
   -- ALERT IS NOT SHOWED
   */
   .not-showed {
      z-index: 0;
      transition: 0.7s ease;
      margin-top: -0.3em;
      margin-bottom: -0.3em;
      font-size: 0.9rem;
      font-style: italic;
      color: var(--light-red);
   }

   .not-showed {
      -webkit-animation: not-showed 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
      animation: not-showed 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
   }

   @-webkit-keyframes not-showed {
      0% {
         -webkit-transform: translateY(-10px);
         transform: translateY(-10px);
         opacity: 0;
      }
      100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
      }
   }
   @keyframes not-showed {
      0% {
         -webkit-transform: translateY(-10px);
         transform: translateY(-10px);
         opacity: 0;
      }
      100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
      }
   }


   @media (min-width: 40rem) {
      .form__container {
         flex-direction: row;
         gap: 1rem;
         width: 100%;
         flex-wrap: wrap;
      }
      .input__email {
         width: 64%;
      }
      .submit__button {
         width: 30%;
         order: 2;
       }
      .error__message__container {
         order: 3;
         flex-grow: 1;
      }
      .error__message {
         padding-left: 1rem;
      }
   }